*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-text-size-adjust: 100%;
    line-height: 1.15;
}

:root{
    --light-bg: #FAF8F5;
    --white: #fff;
    --fini-light: #525252;
    --fini-black: #161616;
    --grid-margin: calc((100vw - 1440px) / 2 + 96px);
    --divider-gray: #d4e0f6;
    --black: #000;
    --fini-dark-blue: #001435;
    --light-blue: #e9f7ef;
    --fini-blue: #003087;
    --fini-grey: #e0e0e0;
    --nav-blue: #3370D9;
    --dark-blue: #03045e;
    --fini-light-blue: #b9effc;
    --ease-in-out: cubic-bezier(0.42,0,0.58,1);
    --light-bluish: #e3f9fe;
    --dark-bluish: #003087;
    --navy-bluish: #0070E0;
    --text-heading: #001435;
}